/* Overall Section */
.paper-section {
  color: var(--ifm-button-color);
  text-align: center;
  padding: 2rem 1.5rem 4rem;
}

/* Grid Layout */
.paper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.8rem;
  justify-content: center;
  align-items: stretch;
  max-width: 1100px;
  margin: 0 auto;
}

/* Paper Card */
.paper-card {
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-background-color);
  border-radius: 12px;
  padding: 1.8rem;
  transition: transform 0.25s ease, border-color 0.25s ease;
  text-align: left; 
}

.paper-card:hover {
  transform: translateY(-5px);
  border-color: var(--hover-color);
}

/* Typography */
.paper-card h2 {
  color: var(--ifm-button-color);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Hover effect */
.paper-card:hover h2 {
  color: var(--hover-color);
}

.paper-card h4 {
  color: var(--ifm-button-color);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.paper-card p {
  color: var(--ifm-pcard-color);
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Link */
.paper-card a {
  color: var(--ifm-button-color);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.paper-card a:hover {
  color: var(--hover-color);
}

/* Button */
.show-more-btn {
  margin-top: 2rem;
  background-color: var(--ifm-background-color);
  padding: 0.6rem 1.6rem;
  border: 1px solid var(--ifm-background-color); /* subtle default border */
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: var(--ifm-button-color);
  transition: all 0.3s ease;
}

.show-more-btn:hover {
  background-color: var(--ifm-background-color);
  border-color:var(--hover-color);
  transform: translateY(-3px);
  color: var(--hover-color);
}


/* Mobile */
@media (max-width: 600px) {
  .paper-section {
    padding: 2rem 1rem;
  }

  .paper-card {
    padding: 1.2rem;
  }

  .paper-card h2 {
    font-size: 1.15rem;
  }

  .paper-card h4 {
    font-size: 0.95rem;
  }
}

